[user]
	name = ugogo
	email = ugo.j.onali@gmail.com

[core]
	excludesfile = /Users/ugo/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX

[status]
 	showUntrackedFiles = all

[credential]
	helper = osxkeychain

[diff]
	noprefix = true

[pull]
  rebase = true

[fetch]
	prune = true

[interactive]
	diffFilter = diff-so-fancy --patch
