[user]
	name = ugogo
	email = ugo.j.onali@gmail.com

[core]
	excludesfile = /Users/ugo/.gitignore_global

[status]
 	showUntrackedFiles = all

[credential]
	helper = osxkeychain

[diff]
	noprefix = true

[pull]
  rebase = true

[fetch]
	prune = true
